@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

html,
body {
  margin: auto;
  max-width: 1000px;
  min-height: 100%;
  color: white;
  background-color: rgb(80, 80, 80);
}

header {
  background-color: black;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

header > h1 {
  font-variant: small-caps;
  font-size: 6vw;
}

section {
  font-size: 1.5em;
  padding-left: 30px;
  line-height: 2em;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 3.5vw;
}

section > p {
  padding: 10px;
  line-height: 1.5em;
  font-family: 'Caveat', cursive;
  font-size: 1.2em;
}

section.normal {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

section.picture {
  background-color: rgb(53, 53, 53);
  color: rgb(255, 255, 255);
  box-shadow: inset 6px 6px 13px 0px black;
  background-attachment: fixed;
}

section.picture > p {
  text-shadow: 1px 1px 0px #000;
  background-color: rgba(0, 0, 0, 0.411);
  display: inline-block;
}

section#img01 {
  background-image: url(img/background001.jpg);
  background-position: right center;
  background-size: cover;
}

section#img02 {
  background-image: url(img/background002.jpg);
  background-position: right center;
  background-size: cover;
}

section#two > p {
  padding-bottom: 2em;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
